{{define "yield"}}
Fake template (for now)...
  <div class="row">
    <div class="col-md-12 themed-grid-col"></div>
        <h1>
            {{.Title}}
        </h1>
        <p>
            Images Coming Soon
        </p>
    </div>
    <div class="col-lg-4 themed-grid-col"></div>
  </div>
{{end}}